@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    background-color: #EDF1D6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: #52BE80;
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
}

#saldo {
    display: flex;
    justify-content: center;
}

#entradas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dinero {
    background-color: #52BE80;
    margin: 10px;
    border-radius: 10px;
    border: transparent;
    height: 20px;
    padding: 10px;
}

#extraer {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    background-color: #52BE80;
    margin: 10px;
    border-radius: 30px;
    border: transparent;
    width: 125px;
    height: 50px;
}

#extraer:hover {
    background-color:#40513B;
}

#resultado {
    display: grid;
    justify-content: center;
}